<!DOCTYPE html>
<html>
<style>
    .leftText {
        position: absolute;
        left: 20%;
        top: 20%
    }

    .rightText {
        position: absolute;
        left: 60%;
        top: 20%
    }
</style>
<head>
    <title>About Us</title>
</head>
<body>

<h1 style="text-align:center;">About Us</h1>
<p style="text-align:center;">Scholars at Risk is an international network of institutions and individuals whose mission it is to protect scholars and promote academic freedom..
</p>

<br>
<br>
<br>

<section class = "leftText">
<p style>By arranging temporary academic positions at <br> member universities and colleges, Scholars at Risk <br> offers safety to scholars facing grave threats, so <br> scholars’ ideas are not lost and they can keep working <br> until conditions improve and they are able to return <br> to their home countries.
</p>
</section>
<section class = "rightText">
<p style><i>“I feel a great gratitude <br> to you and your network <br> that welcomed me from <br>  the beginning… Your <br>  help, your generosity, is a <br>  moral debt that I will <br>  carry in my mind and <br>  my heart.”
</i>
</p>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



<p style="text-align:center;">
    Scholars at Risk also provides advisory services for scholars and hosts, campaigns for scholars who are imprisoned or silenced in their home countries, <br> monitoring of attacks on higher education communities worldwide, and leadership in deploying new tools and strategies for promoting academic freedom <br> and improving respect for university values everywhere.
<br>
    <br>
    <br>gti
    Institutions and individuals who share in these values are invited to join the Network and get involved in SAR’s opportunities for engagement including <br> hosting threatened scholars, advocating for imprisoned academics, monitoring attacks on higher education and joining working groups, among others
</p>

</body>
</html>