<header>
  <img src="/assets/img/logo.png" alt="SARS">

</header>
<hr>
<br>
<script src="https://kit.fontawesome.com/970c1e39c9.js" crossorigin="anonymous"></script>

<button class="btn btn-primary" [routerLink]="['/login']" mat-button>Login</button>
<br>
<button class="btn btn-primary" [routerLink]="['/form']" mat-button>Open Survey Anonymously</button>


<strong>
  <hr></strong>

<div class="about">
  <h2><strong> About SARS</strong></h2>
  <p>Scholars at Risk is an international network of institutions and individuals whose mission it is to protect
    scholars and promote academic freedom..</p>
  <p>By arranging temporary academic positions at member universities and colleges, Scholars at Risk offers safety to
    scholars facing grave threats, so scholars’ ideas are not lost and they can keep working until conditions improve
    and they are able to return to their home countries.</p>
  <p style><i>“I feel a great gratitude to you and your network that welcomed me from the beginning… Your help, your
      generosity, is a moral debt that I will carry in my mind and my heart.”
    </i>
  </p>
  <p style="text-align:center;">
    Scholars at Risk also provides advisory services for scholars and hosts, campaigns for scholars who are imprisoned
    or silenced in their home countries, <br> monitoring of attacks on higher education communities worldwide, and
    leadership in deploying new tools and strategies for promoting academic freedom and improving respect for university
    values everywhere.
    Institutions and individuals who share in these values are invited to join the Network and get involved in SAR’s
    opportunities for engagement including <br> hosting threatened scholars, advocating for imprisoned academics,
    monitoring attacks on higher education and joining working groups, among others
  </p>

</div>

<!-- <div class="col-md-7">
    <h2 style="justify-content:right"><strong>Academic Freedom worldwide</strong></h2>
    <img class="freedomImage" src="/assets/img/download.jpeg" alt="">
  </div>-->


<!-- <img class ="right_pic" src="/assets/img/download.jpeg" alt=""> -->