

button{
    // display: block;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    //position: absolute;
    position: top;
    margin-left: 28%;
    margin-right: 28%;
}

.left_pic{
   // display: float;
    float: left;
    height: 280px;
    margin-left: 2%;
    width: 200px;
}
.right_pic{
   // display: float;
    float: right;
    height: 280px;
    margin-right: 2%;
    width: 200px;
}