<div class="main-content">
  <div class="container-fluid">
    <div class="row center">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <div class="row center">
              <div class="col-md-12">
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                  <mat-step>
                    <ng-template matStepLabel>Terms and Conditions</ng-template>
                    <div class="row">
                      <div class="col-md-8 offset-2">
                        <p>
                          Self censorship is a serious global problem where scholars are imprisoned or silenced in their
                          home countries, and educational communities. In an effort to promote academic freedom, we are
                          creating an anonymous way to securly report forms of academic opression and self censorship
                          due to the fear of potential violent retaliation. In order to protect individuals from such
                          violence, all submissions are kept completely anonymous by collecting no personal
                          identification.</p> <br>
                        <p>
                          <strong>By clicking "I agree" you understand and agree that the data I
                            submit
                            will be used anonymously in reports , studies and advocacy about self-censorship.</strong>
                        </p>
                      </div>
                    </div>
                    <div>
                      <button mat-rasied-button class="btn btn-danger pull-right" matStepperNext>I understand and
                        agree</button>
                    </div>

                  </mat-step>
                  <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                      <ng-template matStepLabel>About</ng-template>
                      <!-- <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div> -->
                      <div class="row">
                        <div class="col-md-6 center">
                          <mat-label>Role</mat-label>
                          <mat-select formControlName="identification">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let id of ids" [value]="id">{{id}}</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-6 center">
                          <mat-label>Age</mat-label>
                          <mat-select formControlName="age_range">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let age of ages" [value]="age">{{age}}</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-6 center">
                          <mat-label>Gender</mat-label>
                          <mat-select formControlName="gender">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-6 center">
                          <mat-label>Country</mat-label>
                          <mat-select formControlName="country">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-6 center">
                          <mat-label>Language</mat-label>
                          <mat-select formControlName="lang">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let l of languages" [value]="l.code">{{l.nativeName}}</mat-option>
                          </mat-select>
                        </div>
                      </div>
                      <div>
                        <button mat-button class="btn btn-primary" matStepperPrevious>Back</button>
                        <button mat-button class="btn btn-primary" matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>

                  <mat-step [stepControl]="secondFormGroup">

                    <form [formGroup]="secondFormGroup">
                      <ng-template matStepLabel>Employement Information</ng-template>

                      <div class="row">
                        <div class="col-md-6 center">
                          <mat-label>Employment</mat-label>
                          <mat-select formControlName="employment">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let e of employment_stats" [value]="e">{{e}}</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-6 center">
                          <mat-label>Disipline</mat-label>
                          <mat-select formControlName="area_of_study">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let study of studies" [value]="study">{{study}}</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-6 center">
                          <mat-label>Sensitivity</mat-label>
                          <mat-select formControlName="sensitivity_level">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let sense of sensitivity_levels" [value]="sense">{{sense}}</mat-option>
                          </mat-select>
                        </div>
                      </div>

                      <div>
                        <button mat-button class="btn btn-primary" matStepperPrevious>Back</button>
                        <button mat-button class="btn btn-primary" matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <!-- <form [formGroup]="thirdFormGroup"> -->
                    <ng-template matStepLabel>Self-Censorship</ng-template>

                    <div class="row">
                      <div class="col-md-8 offset-2">
                        <p>
                          "Self-sensorship in higher education is defined as refraining from examining specific research
                          questions,
                          teaching specific topics, of sharing specific theorites, evidence or ideas, through
                          publication or
                          private
                          expressiong (collectively, "professional expression"), becasue of the fear of professional
                          (e.g.
                          losing
                          job or
                          promotion), legal (e.g. prosecution or fine), or violent retaliation (e.g. harassment,
                          assault),
                          whether
                          from
                          state or non-state sources, against yourself or others (e.g. family members)."
                        </p>
                      </div>

                    </div>

                    <div>
                      <button mat-button class="btn btn-primary" matStepperPrevious>Back</button>
                      <button mat-button class="btn btn-primary" matStepperNext>Next</button>
                    </div>
                    <!-- </form> -->
                  </mat-step>
                  <mat-step>
                    <form [formGroup]="fourthFormGroup">
                      <ng-template matStepLabel>Specifics</ng-template>

                      <div class="row">
                        <div class="col-md-8">
                          <p>
                            Since the start of the last academic year, how often have you self-censored your
                            professional
                            expression
                            (research, teaching/studies, publication, public expression) becasue of fear of
                            professional,
                            legal
                            or
                            violent
                            retaliation?
                          </p>
                        </div>
                        <div class="col-md-4">
                          <mat-label>Choose one</mat-label>
                          <mat-select formControlName="f_self">
                            <mat-option>None</mat-option>
                            <mat-option>Never</mat-option>
                            <mat-option>Sometimes</mat-option>
                            <mat-option>Frequently</mat-option>
                            <mat-option>All the time</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-8">
                          <p>
                            Since the start of the last academic year, how many professional colleagues or students are
                            you
                            aware of
                            who
                            have self-censored their professional expression (research, teaching/studies, publication,
                            public
                            expression)
                            becasue of fear of professional, legal or violent retaliation?
                          </p>
                        </div>
                        <div class="col-md-4">
                          <mat-label>Choose one</mat-label>
                          <mat-select formControlName="num_others">
                            <mat-option>None</mat-option>
                            <mat-option>A few</mat-option>
                            <mat-option>A majority</mat-option>
                            <mat-option>Almost all</mat-option>
                          </mat-select>

                        </div>
                        <div class="col-md-8">
                          <p>
                            Since the start of the last academic year, how often have you advised any professional
                            colleagues or
                            students to
                            self-censored their professional expression (research, teaching/studies, publication, public
                            expression)
                            becasue
                            of fear
                            of professional, legal or violent retaliation?
                          </p>
                        </div>
                        <div class="col-md-4">
                          <mat-label>Choose one</mat-label>
                          <mat-select formControlName="f_others">
                            <mat-option>None</mat-option>
                            <mat-option>Never</mat-option>
                            <mat-option>Sometimes</mat-option>
                            <mat-option>Frequently</mat-option>
                            <mat-option>All the time</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-8">
                          <p>
                            What is the primary source of consequences that you or any professional colleagues or
                            students
                            might
                            fear that
                            would cause you to self-censor your professional expression (research, teaching/studies,
                            publication,
                            public
                            expression)?
                          </p>
                        </div>
                        <div class="col-md-4">
                          <mat-label>Choose one</mat-label>
                          <mat-select formControlName="source">
                            <mat-option>Colleagues/Professional Peers</mat-option>
                            <mat-option>University/Employer</mat-option>
                            <mat-option>Home Country Government</mat-option>
                            <mat-option>Foreign Country Government</mat-option>
                            <mat-option>Society/public</mat-option>
                            <mat-option>Not sure</mat-option>
                            <mat-option>No fear of consequences</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-8">
                          <p>
                            Since the start of the last academic year, how often have you experienced any professional,
                            legal or
                            violent
                            retaliation for your professional expression (research, teaching/studies, publication,
                            public
                            expression)?
                          </p>
                        </div>
                        <div class="col-md-4">
                          <mat-label>Choose one</mat-label>
                          <mat-select formControlName="retaliation_self">
                            <mat-option>Yes</mat-option>
                            <mat-option>No</mat-option>
                            <mat-option>Not sure</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-8">
                          <p>
                            Since the start of the last academic year, are you aware of any professiona; colleagues or
                            students
                            who
                            have
                            experienced any professional, legal or violent retaliation for their professional expression
                            (research,
                            teaching/studies, publication, public expression).
                          </p>
                        </div>
                        <div class="col-md-4">
                          <mat-label>Choose one</mat-label>
                          <mat-select formControlName="retaliation_others">
                            <mat-option>Yes</mat-option>
                            <mat-option>No</mat-option>
                            <mat-option>Not sure</mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-8">
                          <p>
                            Compared to before the start of the last academic year, are tou more or less likely today to
                            self-censor
                            your
                            professional expression (research, teaching/studies, publication, public expression) becasue
                            of
                            fear
                            of
                            professional, legal of violent retaliation?
                          </p>
                        </div>
                        <div class="col-md-4">
                          <mat-label>Choose one</mat-label>
                          <mat-select formControlName="y_y_censor">
                            <mat-option>More likely</mat-option>
                            <mat-option>Less likely</mat-option>
                            <mat-option>About the same</mat-option>
                          </mat-select>
                        </div>
                      </div>


                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Submit Anonymously</ng-template>

                    <div>
                      <p>
                        Click Submit below to submit information ANONYMOUSLY.
                      </p>
                      <button mat-button class="btn btn-primary" matStepperPrevious>Back</button>
                      <button mat-button class="btn btn-primary" (click)="submitData()">Submit</button>
                    </div>
                  </mat-step>
                </mat-vertical-stepper>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>